{% if section.settings.enable_shocksheader %}
<section>
    <div class="topnav">
        <a class="active" href="https://probearbeit-fsr-media.myshopify.com" target="_blank">Home</a>
        <a href="#snocks">Snocks</a>
        <a href="#contact">Products</a>
        <a href="#about">Blogs</a>
    </div>
</section>
{% endif %}

    {% schema %}
        {
        "name": "Snocks Header",
        "settings": [
        {
        "type": "checkbox",
        "id": "enable_shocksheader",
        "default": false,
        "label": "Snocks Header"
        }
        ]
        }
    {% endschema %}