{% if section.settings.enable_shocksheader %}
<section>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="https://www.w3schools.com" target="_blank">Snocks</a>
        <a href="#contact">Products</a>
        <a href="#about">Blogs</a>
    </div>
</section>
{% endif %}

    {% schema %}
        {
        "name": "Snocks Header",
        "settings": [
            // {
            //   "type": "text",
            //   "id": "title",
            //   "default": "SALE TEXT HERE",
            //   "label": "Countdown Heading Title"
            // }, 
        {
        "type": "checkbox",
        "id": "enable_shocksheader",
        "default": false,
        "label": "Snocks Header"
        }
        ]
        }
    {% endschema %}